
html {
  height: 100vh;
  width: 100vw;

}

@import url('https://fonts.googleapis.com/css?family=Baloo.css');

h1, h2, h3, h4 {
  text-decoration: underline;
  font-family: 'Baloo';
  color: #343f47;
}

body {
  /* overflow: hidden; */
}

#canvas {
  cursor: url(/assets/cursor.png) 32 32, auto;
}

canvas {
  cursor: url(/assets/cursor.png) 32 32, auto;
}